# Backend
DATABASE_URL=postgresql+asyncpg://minisiem:minisiem@localhost:5432/minisiem
CORS_ORIGINS=["http://localhost:3000"]
UPLOAD_ZIP_FILE_LIMIT=5

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
